# Docker Compose (dev PostgreSQL)
POSTGRES_IMAGE=postgres:16-alpine
POSTGRES_CONTAINER_NAME=hogehoge-ticket-platform-postgres-dev
POSTGRES_RESTART_POLICY=unless-stopped

POSTGRES_HOST=localhost
POSTGRES_DB=hogehoge_ticket_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

TZ=Asia/Tokyo

# App / Prisma
# 必要に応じて上の POSTGRES_* 設定に合わせて手動で変更してください
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hogehoge_ticket_platform?schema=public"

# symbol
# 使用するネットワーク（このプロジェクトの想定は testnet）
SYMBOL_NETWORK=testnet
# カンマ区切りの優先順リスト
SYMBOL_TESTNET_NODE_URL_LIST=https://001-sai-dual.symboltest.net:3001,https://201-sai-dual.symboltest.net:3001,https://sym-test-03.opening-line.jp:3001
SYMBOL_MAINNET_NODE_URL_LIST=https://xym.jp1.node.leywapool.com:3001,https://0.xym.stakeme.tokyo:3001,https://xymtokyo.harvest-node.net:3001

# ticket issue
# チケット発行時に利用する発行者アカウントの秘密鍵（64桁16進）
SYMBOL_TICKET_ISSUER_PRIVATE_KEY=
